body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(237, 255, 242);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(img/paBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 70px;
    padding-top: 30px;
    font-style: italic;
    color: rgb(255, 208, 244);
    font-size: 90px;


    text-shadow:
    -4px -4px 0 #6fff48, /* Top-left shadow */
     /* 4px -4px 0 #6fff48, Top-right shadow */
    /* -4px  4px 0 #6fff48, Bottom-left shadow */
     4px  4px 0 #6fff48; /* Bottom-right shadow */

}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: auto;
    padding-top: auto;
    font-style: italic;
    color: rgb(229, 183, 218);
    font-size: 30px;
    margin-bottom: 50px;
}

.time{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid #d68afd;
    border-radius: 7px;
    border-width: 5px;
    min-width: 100px;
    color: #bf48fa;
    background-color: rgb(218, 255, 210);

    
}

.count-down{

    padding-bottom: 70px;
}

.footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #d0fdc4;
    color: rgb(170, 170, 170);
    /* margin-left: auto;
    margin-right: auto; */

}

#days{
    font-size: 70px;
    /* font-weight: 100; */
    margin-bottom: auto;
    
    background-image: url(img/CR1NYSpUcAAS5AK.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 30px;
}
span{
    font-size: 20px;
}

.meme-image{
    width: 30px; 
    height: auto;
    border-radius: 10px;
}

#inner_days{
    font-size: 20px;
    padding-top: 1px;
    margin-top: 1px;
}

@keyframes scaleUp{
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
        color: aqua;
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.05);
        color: yellowgreen;
    }
    100% {
        transform: scale(1);
    }
}

.changeAnimation{
    animation: scaleUp 0.3s ease-in-out;
}